<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <Output>DevopsFinal.Tests/TestResults/coverage.opencover.xml</Output>
          <Exclude>[*Test*]*,[*AspNetCoreGeneratedDocument*]*,[*Migrations*]*,**/DevopsFinal/wwwroot/**,[DevopsFinal]Program,**/Models/ErrorViewModel.cs</Exclude>
          <Include>[DevopsFinal]*</Include>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,ExcludeFromCodeCoverage</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>